#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#box{
  height: 200px;
  width: 600px;
  border-radius: 10px;
  border-style: solid;
  display: flex;
  justify-content: space-around;
}

.button{
  
  border-radius: 10px;
  text-align: center;

}
